$tileWidth: 16px;
$tileHeight: 16px;
$tilePadding: 0px;
$tileMargin: 0px;

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

div#game
{
	width: 100%;
	height: 100%;
	position: relative;

	background-color: lighten(gray, 30%);

	.tile
	{
		width: $tileWidth;
		height: $tileHeight;
		padding: $tilePadding;
		margin: $tileMargin;

		background-color: lighten(gray, 15%);

		position: absolute;
	}
}
